<nav class="main-header navbar navbar-expand navbar-white navbar-light">
  <!-- Left navbar links -->
 
  <!-- Left navbar links -->
<ul class="navbar-nav nav-left">
  @if (token && token.trim().length > 0) {
    <li class="nav-item">
      <a class="nav-link" data-widget="pushmenu" href="#" role="button">
        <i class="fas fa-bars"></i>
      </a>
    </li>
  }

  <li class="nav-item">
    <a
      [routerLink]="['/dashboard']"
      class="nav-link nav-tab"
      [ngClass]="{ 'fw-semibold text-dark active border-bottom': isDashboardActive() }"
      style="--bs-border-color: black;"
    >
      Dashboard
    </a>
  </li>

  @if (!token || token.trim().length === 0) {
    <li class="nav-item">
      <a
        [routerLink]="['/signin']"
        class="nav-link nav-tab"
        routerLinkActive="active border-bottom fw-semibold text-dark"
        [routerLinkActiveOptions]="{ exact: true }"
        style="--bs-border-color: black;"
      >
        SignIn
      </a>
    </li>
  }

  @if (token && token.trim()) {
    <li class="nav-item">
      <a
        [routerLink]="['/chart']"
        class="nav-link nav-tab"
        routerLinkActive="active border-bottom fw-semibold text-dark"
        [routerLinkActiveOptions]="{ exact: true }"
        style="--bs-border-color: black;"
      >
        Chart
      </a>
    </li>
    <li class="nav-item">
      <a
        [routerLink]="['/analytic']"
        class="nav-link nav-tab"
        routerLinkActive="active border-bottom fw-semibold text-dark"
        [routerLinkActiveOptions]="{ exact: true }"
        style="--bs-border-color: black;"
      >
      analytic
      </a>
    </li>
    <li class="nav-item">
      <a
        [routerLink]="['/analytic2']"
        class="nav-link nav-tab"
        routerLinkActive="active border-bottom fw-semibold text-dark"
        [routerLinkActiveOptions]="{ exact: true }"
        style="--bs-border-color: black;"
      >
      analytic2
      </a>
    </li>
  }
</ul>

  
  <!-- Right navbar links -->
  <ul class="navbar-nav ml-auto nav-right">
    <!-- DateTime Display -->
    <li class="nav-item nav-datetime">
      <span class="nav-link">
        <i class="far fa-calendar-alt mr-1"></i>
        <span id="currentDate">{{formattedDate}}</span>
      </span>
    </li>
    <li class="nav-item nav-datetime">
      <span class="nav-link">
        <i class="far fa-clock mr-1"></i>
        <span id="currentTime">{{formattedTime}}</span>
      </span>
    </li>
    <li class="nav-item nav-datetime">
      <a class="nav-link" data-widget="fullscreen" href="#" role="button">
        <i class="fas fa-expand-arrows-alt"></i>
      </a>
    </li>
    <!-- <li class="nav-item">
      <a class="nav-link" 
         data-widget="control-sidebar" 
         data-controlsidebar-slide="true" 
         href="#" 
         role="button">
        <i class="fas fa-th-large"></i>
      </a>
    </li> -->
  </ul>
</nav>