<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a
    routerLink="/"
    class="brand-link d-flex align-items-center"
    style="text-decoration: none; padding: 1rem"
  >
    <img
      src="dist/img/factory.png"
      alt="AdminLTE Logo"
      class="brand-image img-circle elevation-2"
    />
    <span class="brand-text ms-2">
      <h3 class="mb-0">Calling</h3>
    </span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- User Panel -->
    @if (name != undefined) {
      <div class="user-panel mt-3 pb-3 mb-3">
        <div class="d-flex flex-column align-items-center p-3 mb-3 bg-dark rounded">
          <!-- รูปโปรไฟล์ -->
          <img
            src="dist/img/employee.png"
            class="img-circle elevation-2 mb-2"
            alt="User Image"
            style="width: 60px; height: 60px; object-fit: cover"
          />
      
          <!-- รหัสพนักงาน -->
          <h5 class="text-white mb-2">{{ empNo }}</h5>
         <!-- ชื่อ + role -->
          <div class="d-flex align-items-center gap-2 mb-2">
            <p class="text-white mb-0 fw-semibold">{{ name }}</p>
          </div>
            <!-- Role badge -->
            <span
              class="role-badge"
              [ngClass]="{
                'role-admin': role === 'admin',
                'role-user': role === 'user'
              }"
            >
              {{ role | uppercase }}
            </span>

           <!-- ✅ เส้นคั่น -->
          <div class="divider"></div>
      
          <!-- badge เรียงเป็นแนวนอนใต้รูป -->
          <div class="badge-box">
            <span class="info-badge">{{groupName}}</span>
            <span class="info-badge">{{sectionName}}</span>
            <span class="info-badge">{{subSectionName}}</span>
          </div>
        </div>
      
        <button class="btn btn-danger w-100" (click)="signout()">
          <i class="fas fa-sign-out-alt me-2"></i>Sign Out
        </button>
      </div>
      
    }

    <!-- Menu -->
    <nav class="mt-2">
      <ul
        class="nav nav-pills nav-sidebar flex-column"
        data-widget="treeview"
        role="menu"
        style="padding-bottom: 60px"
      >
        <!-- เพิ่ม padding-bottom -->
        <!-- Main Menu -->
        <li class="nav-item mb-1">
          <a routerLink="/" class="nav-link" routerLinkActive="active">
            <i class="nav-icon fas fa-home"></i>
            <p class="ms-2">หน้าหลัก</p>
          </a>
        </li>
        @if (role === 'admin') {
        <li class="nav-item mb-1">
          <a routerLink="/signup" class="nav-link" routerLinkActive="active">
            <i class="nav-icon fas fa-user-plus"></i>
            <p class="ms-2">Add Members</p>
          </a>
        </li>
      }
       <!-- Report Menu -->
       <li class="nav-item mb-1">
        <a routerLink="/report" class="nav-link" routerLinkActive="active">
          <i class="nav-icon fas fa-file-alt"></i>
          <p class="ms-2">Report</p>
        </a>
      </li>


        <!-- Inventory Menu -->
        @if (role === 'admin') {
        <li class="nav-item">
          <h6
            class="sidebar-heading d-flex justify-content-between align-items-center px-3 mb-1 text-light"
          >
            <span><b>Add</b></span>
          </h6>
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-plus"></i>
            <p class="ms-2">
              Data setup
              <i class="fas fa-angle-right ms-auto"></i>
            </p>
          </a>
          <ul class="nav nav-treeview bg-dark bg-opacity-50 rounded mx-2 mt-1">
            <li class="nav-item">
              <a
                routerLink="/group"
                class="nav-link"
                routerLinkActive="active"
              >
                <i class="fas fa-user-friends nav-icon"></i>
                <p class="ms-2">Add Groups</p>
              </a>
            </li>
            <li class="nav-item">
              <a
                routerLink="/machine"
                class="nav-link"
                routerLinkActive="active"
              >
                <i class="fas fas fa-cogs nav-icon"></i>
                <p class="ms-2">Add Areas</p>
              </a>
            </li>
            <li class="nav-item">
              <a
                routerLink="/section"
                class="nav-link"
                routerLinkActive="active"
              >
                <i class="fas fa-folder nav-icon"></i>
                <p class="ms-2">Add Sections</p>
              </a>
            </li>
            <li class="nav-item">
              <a
                routerLink="/subSection"
                class="nav-link"
                routerLinkActive="active"
              >
                <i class="fas fa-folder-open nav-icon"></i>
                <p class="ms-2">Add SubSections</p>
              </a>
            </li>
            <li class="nav-item">
              <a
                routerLink="/callNodes"
                class="nav-link"
                routerLinkActive="active"
              >
                <i class="fas fa-thumbtack nav-icon"></i>
                <p class="ms-2">Map Positions</p>
              </a>
            </li>
            <li class="nav-item">
              <a
                routerLink="/flowJob"
                class="nav-link"
                routerLinkActive="active"
              >
                <i class="fas fa-thumbtack nav-icon"></i>
                <p class="ms-2">Map FlowJobs</p>
              </a>
            </li>
           
          </ul>
        </li>

      } 
      </ul>
    </nav>
  </div>
</aside>
