
<div class="mt-3">
    <div class="card-header">Area Page</div>
    <div class="card-body mt-3">
      <button
        class="btn btn-primary me-2"
        data-bs-toggle="modal"
        data-bs-target="#modalRegister"
        (click)="openModal()"
      >
        <i class="fa fa-user-plus me-2"></i>Add Area
      </button>
      <!-- <button
        class="btn btn-success me-2"
        data-bs-toggle="modal"
        data-bs-target="#modalExcel"
      >
        <i class="fa fa-upload me-2"></i>Add by Excel file
      </button>
      <button class="btn btn-success">
        <i class="fa fa-download me-2"></i>Export to Excel
      </button> -->
      <div class="form-inline mt-3">
        <div class="input-group">
          <input
            type="text"
            class="form-control"
            placeholder="ค้นหา machine code"
          />
          <div class="input-group-append">
            <button class="btn btn-primary">
              <i class="fas fa-search fa-fw"></i>
            </button>
          </div>
        </div>
      </div>
      <table class="table table-bordered table-striped mt-3 mb-4">
        <thead>
          <tr>
            <th>Areas Code</th>
            <th>Group</th>
            <th>Status</th>
            <th width="50px">แก้ไข</th>
            <th width="50px">ลบ</th>
          </tr>
        </thead>
        <tbody>
          @for (item of machines; track $index) {
          <tr>
            <td>{{ item.code }}</td>
            <td>{{ item.groupName }}</td>
            <td>{{ item.isActive === 1 ? 'Active': 'Inactive'}}</td>
            <td class="text-center">
              <button
                class="btn btn-primary"
                (click)="edit(item)"
                data-bs-target="#modalRegister"
                data-bs-toggle="modal"
              >
                <i class="fa fa-edit"></i>
              </button>
            </td>
            <td class="text-center">
              <button class="btn btn-danger" (click)="remove(item)">
                <i class="fa fa-times"></i>
              </button>
            </td>
          </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
  


  <app-my-modal modalId="modalMachine" (closeRequest)="myModal.close()">
    <div class="login-container" style="margin-top: 25px;margin-bottom: 25px;">
      <div class="login-card" style="padding-bottom: 20px;">
        <div class="card-header text-center">
          <h5 class="mb-0 fw-bold">
            <i class="fas fas fa-cogs me-2"></i>
            Add Area
          </h5>
        </div>
  
        <div class="card-body">
  
          <!-- Title -->
          <div class="section-title mt-2 mb-3">
            <span class="line"></span>
            <span>Add Area name</span>
            <span class="line"></span>
          </div>
  
          <!-- Input -->
          <div class="input-group mb-4">
            <span class="input-group-text">
              <i class="fas fa-tag"></i>
            </span>
            <input
              type="text"
              class="form-control"
              placeholder="Area Name"
              [(ngModel)]="code"
              [disabled]="isLoading"
            />
          </div>

          
          <div class="input-group mb-3">
            <span class="input-group-text">
              <i class="fas fa-user-cog"></i>
            </span>
            <select
              class="form-select text-center"
              [(ngModel)]="selectedGroupId"
              [disabled]="isLoading"
            >
              <option [ngValue]="null" disabled> ----------------- Group -----------------</option>
              <option *ngFor="let g of groups" [ngValue]="g.id">
                {{ g.name }}
              </option>
            </select>
          </div>
  
          <!-- Buttons -->
          <div class="mt-4">
            <button class="btn btn-primary w-100"  [disabled]="isLoading" (click)="add()">
              @if(isLoading){
                <i class="fas fa-spinner fa-spin me-2"></i>Processing...
              } @else {
                <i class="fas fa-save me-2"></i> Save Area
              }
            </button>
  
            <button class="btn btn-secondary w-100 mt-3" [disabled]="isLoading" (click)="clearForm()">
              <i class="fas fa-times me-2"></i> Clear
            </button>
          </div>
  
        </div>
      </div>
    </div>
  </app-my-modal>