<!-- พื้นหลังอ่อน -->
<div class="py-5" style="background-color: #eaf6f9;">

  <div class="container" style="max-width: 1100px;">
    @if (!token || token.trim().length === 0) {
    <!-- กล่อง Dashboard หลัก -->
    <div class="card shadow border-0 mb-5" style="border-radius: 12px;">
      <div class="card-header text-white" style="background:#36393c; border-top-left-radius:12px; border-top-right-radius:12px;">
        <h4 class="mb-0">
          <i class="fas fa-chart-line me-2"></i> Dashboard
        </h4>
      </div>
      <div class="card-body p-4">
        
        <!-- Dashboard 1 -->
        <div class="card border-0 mb-4" style="border-radius:10px; background-color:#e0e0e0;">
         
          <div class="card-header text-white fw-semibold" 
               style="background-color:#2c2c2c; border-top-left-radius:10px; border-top-right-radius:10px;">
            Parts wait move by Store PC
          </div>

          <div class="card-body">
            <!-- แถวสรุป Lamination -->
            <div class="d-flex justify-content-between align-items-center p-3 rounded" 
                 style="background:#79f2a2;">
              <span class="fw-semibold">Lamination</span>
        
              <div class="d-flex align-items-center gap-3">
                <span class="fw-semibold">12</span>
                <button
                  class="btn btn-sm btn-outline-dark"
                  (click)="toggleLamPreview()">
                  {{ showLamPreview ? 'Hide detail' : 'View detail' }}
                </button>
              </div>
            </div>
        
           
            <div *ngIf="showLamPreview" class="mt-3">
              <!-- กล่องที่ *จำกัดความสูง* และมี scrollbar -->
              <div class="lam-preview-scroll">
                <div class="list-group rounded-3 overflow-hidden">
                  <div
                    class="list-group-item d-flex align-items-center justify-content-between"
                    *ngFor="let item of section1.Rows"
                  >
                    <div class="d-flex align-items-center gap-3">
                      <span class="mono fw-semibold">{{ item.date }}</span>
                      <span class="mono fw-semibold">{{ item.time }}</span>
                      <span class="fw-semibold">{{ item.machineName }}</span>
                      
                    </div>

                      <div class="d-flex align-items-center gap-2"> 
                        <span class="node-tag" >{{ item.toNodeName }}</span>
                        <span
                          class="badge rounded-pill px-3 py-2 text-capitalize"
                          [ngClass]="
                            item.status === 'wait'
                              ? 'bg-success'
                              : 'bg-warning text-dark'
                          "
                        >
                          {{ item.status }}
                        </span>
                    </div>
                    
                  </div>
                </div>
              </div>
            </div>
          </div>


        </div>

        <!-- Dashboard 2 -->
        <div class="card border-0 mb-4" style="border-radius:10px; background-color:#e0e0e0;">
          <div class="card-header text-white fw-semibold" 
               style="background-color:#2c2c2c; border-top-left-radius:10px; border-top-right-radius:10px;">
            Parts wait move by Store PC
          </div>
          <div class="card-body">
            <div class="row g-3">
              <div class="col-md-6">
                <div class="d-flex justify-content-between align-items-center p-3 rounded" 
                     style="background:#d4f787;">
                  <span class="fw-semibold">General</span>
                  <div class="d-flex align-items-center gap-3">
                    <span class="fw-semibold">8</span>
                    <button
                      class="btn btn-sm btn-outline-dark"
                      (click)="toggleGenPreview()">
                      {{ showGenPreview ? 'Hide detail' : 'View detail' }}
                    </button>
                  </div>
                </div>

                 <!-- preview General -->
                  <div *ngIf="showGenPreview" class="mt-2">
                    <div class="lam-preview-scroll">
                      <div class="list-group rounded-3 overflow-hidden">
                        <div
                          class="list-group-item d-flex align-items-center justify-content-between"
                          *ngFor="let item of generalPreview"
                        >
                          <div class="d-flex align-items-center gap-3">
                            <span class="mono fw-semibold">{{ item.date }}</span>
                            <span class="mono fw-semibold">{{ item.time }}</span>
                            <span class="fw-semibold">{{ item.station }}</span>
                          </div>
                          <span
                            class="badge rounded-pill px-3 py-2 text-capitalize"
                            [ngClass]="
                              item.status === 'wait'
                                ? 'bg-success'
                                : 'bg-warning text-dark'
                            ">
                            {{ item.status }}
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>

              </div>

              <div class="col-md-6">
                <div class="d-flex justify-content-between align-items-center p-3 rounded" 
                     style="background:#9feefc;">
                  <span class="fw-semibold">Stator</span>
                  <div class="d-flex align-items-center gap-3">
                    <span class="fw-semibold">5</span>
                    <button
                      class="btn btn-sm btn-outline-dark"
                      (click)="toggleStaPreview()">
                      {{ showStaPreview ? 'Hide detail' : 'View detail' }}
                    </button>
                  </div>
                </div>

                   <!-- preview Stator -->
                <div *ngIf="showStaPreview" class="mt-2">
                  <div class="lam-preview-scroll">
                    <div class="list-group rounded-3 overflow-hidden">
                      <div
                        class="list-group-item d-flex align-items-center justify-content-between"
                        *ngFor="let item of statorPreview"
                      >
                        <div class="d-flex align-items-center gap-3">
                          <span class="mono fw-semibold">{{ item.date }}</span>
                          <span class="mono fw-semibold">{{ item.time }}</span>
                          <span class="fw-semibold">{{ item.station }}</span>
                          
                        </div>
                        <span
                          class="badge rounded-pill px-3 py-2 text-capitalize"
                          [ngClass]="
                            item.status === 'wait'
                              ? 'bg-success'
                              : 'bg-warning text-dark'
                          ">
                          {{ item.status }}
                        </span>
                      </div>
                    </div>
                  </div>
                  </div>

              </div>

            </div>
          </div>
        </div>

      </div> <!-- card-body -->
    </div> <!-- card -->
  }
  @if(groupDashboard === "Lamination"){
      <!-- Lamination -->
    <app-lamination-panel  [section]="section1" (updateRow)="onUpdateRow($event)"></app-lamination-panel>                
  }
  @if( groupDashboard === "General" || groupDashboard === "Stator"){ 
      <!-- General & Stator -->
    <app-general-stator-panel [groups]="groups"></app-general-stator-panel>
  }

  </div> <!-- container -->
</div>
