/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* เพิ่มค่า z-index ให้กับ cdk-overlay-container */
.cdk-overlay-container {
    z-index: 2000 !important;
  }
  
  /* เพิ่ม z-index ให้ cdk-overlay-pane เพื่อให้ overlay อยู่ด้านบน */
  .cdk-overlay-pane {
    z-index: 2001 !important;
  }

  @font-face {
    font-family: 'Kanit';
    src: url('../public/assets/fonts/Kanit-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Kanit';
    src: url('../public/assets/fonts/Kanit-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Kanit';
    src: url('../public/assets/fonts/Kanit-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Kanit';
    src: url('../public/assets/fonts/Kanit-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }
  